.playlistName {
    color: green;
}

.playlistDiv {
    box-sizing: content-box;
    position: absolute;
    left: 930px;
    top: 171px;
    display: flex;
    flex-direction: row-reverse;
}


.playlistSection {
    height: 200px;
    box-shadow: 7px -9px green;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}