
.App-display {
    background-color: black;
}

.searchBarSection {
    width: 32rem;
    height: 3rem; 
    color: black
}

.searchResultsSection {
    width: 500px;
}

.searchResults-display {
    width: 500px;
}

.listModifications {
    background-Color: black;
    color: white;
    border: solid 1rem grey;
    box-shadow: inset 10px green;
}

.trackDisplayDiv {
    position: absolute;
    top: 227px;
    left: 485px;
    display: flex;
}
.trackDisplaySection {
    position: relative;
    place-items: flex-end;
    flex-flow: column;
    align-items: center;
    margin-left: 120px;
}

.imageDisplay {
    width: 200px;
    height: 200px;
    border-radius: 15rem;
}

.userLocalPlaylistDisplay {
    color: white;
    position: relative;
    bottom: 604px;
    left: 598px;
    width: fit-content;
    display: flex;
    background-color: #198754;
    border-radius: 5px;
}
ul.userLocalPlaylistDisplay {
    list-style: none;
}
h2.userPlaylistDisplay {
    margin-left: 1rem;
}
.searchResults-display.bg-light.d-flex.justify-content-start {
    box-shadow: 1rem -0.5rem 7px 7px green;
}

div.d-flex.flex-row-reverse {
    position: absolute;
    top: 960px;
    width: 100%;
    left: 160px;
}

.playlistDiv {
    display: flex;
    flex-direction: row-reverse;
}